
body {
    color: white;
    margin-top: 5vh;
    min-height: 100vh;
    
    background: linear-gradient(135deg, rgb(22, 22, 22), rgb(94, 109, 116))
}

#roundDisplay {
    font-size: clamp(2rem, 5vw, 4rem);
    display: flex;
    justify-content: center;
    padding: 30px;
    

}
.score {
    display: flex;
    color: black;
    max-width: 500px;
    margin: 20px auto;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    padding: 30px;
    font-weight: 450;
    justify-content: center;
    border: solid black;
    border-radius: 30px;
    border-width: 1px;
    width: 80%;
    letter-spacing: 2px;
    background-color: rgb(255, 229, 229);
}

.scorelst {
    display: flex;
    color: black;
    letter-spacing: 2px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 450;
    justify-content: center;
    border: solid black;
    border-radius: 30px;
    border-width: 1px;
    width: 40%;
    padding: 50px;
    background-color: rgb(255, 229, 229);
}


.btn {
    
    width: 80%;
    height: 80px;
    display: block;
    font-size: clamp(1rem, 2vw, 1.8rem);
    font-weight: 700;
    letter-spacing: 2px;

    border: solid rgb(89, 179, 94);
    border-radius: 30px;
    cursor: pointer;

    background: linear-gradient(135deg, #4653ac, #2bc155);
    color: #ffffff;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease;
}

.btn:hover {
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 15px 35px rgba(34, 197, 94, 0.5);
}


.btn:active {
    transform: scale(0.95);
}

#resultText {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: clamp(2rem, 6vw, 5rem);
    text-align: center;
}
