
body {
    color: white;
    margin-top: 10vh;
    min-height: 100vh;
    
    background: linear-gradient(135deg, rgb(22, 22, 22), rgb(94, 109, 116))
}

#roundDisplay {
    font-size: 5rem;
    display: flex;
    justify-content: left;
    padding: 30px;
    margin-left: 18%;

}
.score {
    display: flex;
    color: black;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 450;
    justify-content: center;
    border: solid black;
    border-radius: 30px;
    border-width: 1px;
    width: 40%;
    padding: 50px;
    letter-spacing: 2px;
    background-color: rgb(255, 229, 229);
}

.scorelst {
    display: flex;
    color: black;
    letter-spacing: 2px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 450;
    justify-content: center;
    border: solid black;
    border-radius: 30px;
    border-width: 1px;
    width: 40%;
    padding: 50px;
    background-color: rgb(255, 229, 229);
}


.btn {
    
    width: 450px;
    height: 150px;

    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;

    border: solid rgb(89, 179, 94);
    border-radius: 30px;
    cursor: pointer;

    background: linear-gradient(135deg, #4653ac, #2bc155);
    color: #ffffff;

    margin: 30px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease;
}

.btn:hover {
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 15px 35px rgba(34, 197, 94, 0.5);
}


.btn:active {
    transform: scale(0.95);
}

#resultText {
    display: flex;
    justify-content: left;
    padding-top: 100px;
    font-size: 90px;
    margin-left: 12%;
}